*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    color: #FFFFFF;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.text-primary{
    color: #FD6E0A;
}

/* na and font styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;

}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}

/* header styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* main section */
main{
    max-width: 565px;
    margin: 0 auto;
}
/* about section */

.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-section{
    
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    font-size: 15px;
    justify-content: space-around;
}
.about-info{

}
.info-title{
    font-size: 15px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 15px;
    color: #474747;
}